<h1 class="text-3xl font-bold">
    一言日記
</h1>
<p>
<% if session[:access_token].present? %>
  <%= link_to "ログアウト", logout_path,data:{ turbo_method: :delete} %>
<% else %>
  <%= link_to "Googleでログイン", google_oauth_start_path %>
<% end %><%= link_to "新規作成" , new_journal_path %>
</p>
<%= month_calendar events: @journals, attribute: :date do |date,journals|%>
    <% link_target =
        if journals.any? 
            journal_path(journals)
        else
            new_journal_path(date: date)
        end
    %>
        <%link_to link_target,class: "block w-full h-full" do%>
            <div class="top-1 left-1 font-bold">
                <%=date.day%>
            </div>
            <% journals.each do |journal|%>
                <%= journal.title%>
            <%end%>
            <div>
            </div>
        <%end%>
<%end%>


<table class="border bg-gray-100">
    <thread>
        <tr>
            <th class="border">日付</th>
            <th class="border">タイトル</th>
            <th class="border"></th>
        </tr>
    </thread>
<% @journals.each do |journal| %>
    <tr class="border-t">
        <td class="border"><%= journal.date %></td>
        <td class="border"><%= journal.title %></td>
        <td class="border"><%= link_to "詳細表示", journal_path(journal) ,class: "text-blue-500 underline"%></td>
    </tr>
<% end %>
</table>