<h1 class="text-4xl font-bold">
    一言日記
</h1>
<div class="flex justify-end">
<%= link_to "新規作成" , new_journal_path,class:"py-1 px-5 bg-sky-500 rounded-2xl text-white" %>
</div>
<%= month_calendar events: @journals, attribute: :date do |date,journals|%>
    <% link_target =
        if journals.any? 
            journal_path(journals)
        else
            new_journal_path(date: date)
        end
    %>
        <%link_to link_target,class: "block w-full h-full hover:bg-cyan-100 transition-colors" do%>
            <div class="top-1 left-1 font-bold <%= date.today? ? "text-blue-500":""%>">
                <%=date.day%>
            </div>
            <% journals.each do |journal|%>
            <div class= "border-l-4 border-blue-500 line-clamp-3">
                <%= journal.title%>
            </div>
            <%end%>
        <%end%>
<%end%>

<div class="mt-5">
    <div class="text-xl">
        リスト
    </div>
    <table class="bg-gray-100 w-full ">
        <thread>
            <tr>
                <th class="border-d text-left min-w-30">日付</th>
                <th class="border-d text-left">タイトル</th>
            </tr>
        </thread>
    <% @journals.each do |journal| %>
        <tr class="border-t">
            <td class="border-t"><%= journal.date %></td>
            <td class="border-t"><%= link_to journal.title,journal_path(journal),class:"text-blue-500 underline"%></td>
        </tr>
    <% end %>
    </table>
</div>
