
<h1>
    <%= @journal.date %>
</h1>
<h2>
    <%= @journal.title%>
</h2>
<div>
    <%= @journal.content %>
</div>

<%= link_to "編集", edit_journal_path(@journal)%>
<%= link_to "削除", journal_path(@journal),data:{ turbo_method: :delete, turbo_confirm:"本当に削除しますか？"} %>
<%= link_to "戻る", journals_path%>